@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<h1>Welcome to @Model.Content.GetPropertyValue("name")</h1>
<p>@Html.Raw(Model.Content.GetPropertyValue("description"))</p>
	
<h2>List of Sites (dynamically generated)</h2>
<ul>
@foreach(var page in Model.Content.AncestorOrSelf(1).Children)
{
	<li>
	<a href="@page.NiceUrl()">@page.GetPropertyValue("blogName")</a>
	<p>@page.GetPropertyValue("blogDescription")</p>
	</li>
}
</ul>
	
@Umbraco.RenderMacro("XSLTsearch", new {source="1068" , searchFields="" , previewFields="" , searchBoxLocation="" , previewType="" , resultsPerPage="" , previewChars="" , showPageRange="0" , showOrdinals="0" , showScores="0" , showStats="0" })
	
<h2>Here are a list of blogs from our Members (static)</h2>
<ul>
	<li>
	<a href="#">Blog from member 1</a>
	<p>bla bla the blog is cool bla bla</p>
	</li>
	<li>
	<a href="#">Blog from member 2</a>
	<p>bla bla the blog is cool bla bla</p>
	</li>
	<li>
	<a href="#">Blog from member 3</a>
	<p>bla bla the blog is cool bla bla</p>
	</li>
	<li>
	<a href="#">Blog from member 4</a>
	<p>bla bla the blog is cool bla bla</p>
	</li>
</ul>